In [51]:
import pandas as pd
from pathlib import Path
import numpy as np

In [52]:
def validate_path_exists_and_file_type(file_path):
    if not file_path.endswith(".csv"):
        raise TypeError("File is not a csv File")
    
    file_path = Path(file_path)
    if not file_path.exists():
        raise FileNotFoundError("File not found")
    
    if file_path.stat().st_size == 0:
        raise ValueError("File is empty")
    
    return True

In [53]:
def load_csv(file_path):
    validate_path_exists_and_file_type(file_path)
    
    return pd.read_csv(file_path)

## Do not load in the service_type_df as it is not used. No foreign key to any df

In [54]:
# Load Table function
df_channel_type = load_csv("data/channel_type.csv")

In [55]:
df_channel_type

  Channel Key       Channel
0        CH01  Social Media
1        CH02       Chatbot
2        CH03       WebForm
3        CH04    Phone Call
4        CH05          USSD
5        CH06         Email

In [56]:
employee_df = load_csv("data/employee.csv")
employee_df.head()

   Empoyee_ID  Manager ID Employee_name Designation Manager
0         101         NaN        Victor     Manager     NaN
1         102         NaN         Kerry     Manager     NaN
2         103         NaN          Wale     Manager     NaN
3         104         NaN          Seun     Manager     NaN
4         201       101.0          Bola    Operator  Victor

In [57]:
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Empoyee_ID     32 non-null     int64
 1   Manager ID     28 non-null     float64
 2   Employee_name  32 non-null     object
 3   Designation    32 non-null     object
 4   Manager        28 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ KB

In [58]:
fault_type_df = load_csv("data/fault_type.csv")
fault_type_df.head()

   Fault Key             Fault
0          1     Customers End
1          2       Line damage
2          3   Routine Service
3          4  hardware failure
4          5        Power Loss

In [59]:
fault_type_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fault Key  9 non-null      int64
 1   Fault      9 non-null      object
dtypes: int64(1), object(1)
memory usage: 276.0+ bytes

In [60]:
location_df = load_csv("data/location.csv")
location_df.head()

  State Key Zone    Zone Desc    State
0    NGS001   SS  South-South  ANAMBRA
1    NGS002   SW   South-West      OYO
2    NGS003   SW   South-West    LAGOS
3    NGS004   SS  South-South    DELTA
4    NGS005   SE   South-East    ENUGU

In [61]:
location_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State Key  37 non-null     object
 1   Zone       37 non-null     object
 2   Zone Desc  37 non-null     object
 3   State      37 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

In [62]:
service_data_df = load_csv("data/service_data.csv")
service_data_df.head()

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020/12/31 17:07:04,2020/12/31 17:10:20,2020/12/31 20:44:42,NaN,Tunde,,Active,Open
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020/12/30 19:04:06,2020/12/30 19:13:18,2020/12/30 19:46:30,Customers End,Sekina,2021/01/01 13:27:17,Completed,Closed
2,AXA-20201229-1103-WLESS,CH01,Access,NGS001,2020/12/29 18:28:04,2020/12/29 18:37:52,2020/12/29 20:10:11,Customers End,Sherifat,2020/12/30 13:20:43,Completed,Closed
3,AXA-20201229-1104-HSE,CH01,Arik,NGS002,2020/12/29 14:49:16,2020/12/29 14:58:23,2020/12/29 16:03:56,Line damage,Kingsley,2020/12/29 21:34:31,Completed,Closed
4,AXA-20201231-1105-HSE,CH01,Arik,NGS003,2020/12/31 21:43:03,2020/12/31 21:47:39,2020/12/31 22:20:58,Customers End,Kola,2021/01/02 06:54:01,Completed,Closed

In [63]:
service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   object
 5   Ticket Resp Time   5998 non-null   object
 6   Issue Res Time     5998 non-null   object
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   object
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: object(12)
memory usage: 562.4+ KB

In [64]:
# service_type_df = load_csv("data/service_type.csv")
# service_type_df.head()

In [65]:
# service_type_df.info()

## Clean_Tickets

In [66]:
service_data_df = load_csv("data/service_data.csv")
service_data_df.head()

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020/12/31 17:07:04,2020/12/31 17:10:20,2020/12/31 20:44:42,NaN,Tunde,,Active,Open
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020/12/30 19:04:06,2020/12/30 19:13:18,2020/12/30 19:46:30,Customers End,Sekina,2021/01/01 13:27:17,Completed,Closed
2,AXA-20201229-1103-WLESS,CH01,Access,NGS001,2020/12/29 18:28:04,2020/12/29 18:37:52,2020/12/29 20:10:11,Customers End,Sherifat,2020/12/30 13:20:43,Completed,Closed
3,AXA-20201229-1104-HSE,CH01,Arik,NGS002,2020/12/29 14:49:16,2020/12/29 14:58:23,2020/12/29 16:03:56,Line damage,Kingsley,2020/12/29 21:34:31,Completed,Closed
4,AXA-20201231-1105-HSE,CH01,Arik,NGS003,2020/12/31 21:43:03,2020/12/31 21:47:39,2020/12/31 22:20:58,Customers End,Kola,2021/01/02 06:54:01,Completed,Closed

In [67]:
service_data_df.columns

Index(['Report ID', 'Report Channel', 'Customer Name', 'State Key',
       'Ticket Open Time', 'Ticket Resp Time', 'Issue Res Time', 'Fault Type',
       'Operator', 'Ticket Close Time', 'Ticket Status', 'Business Status'],
      dtype='object')

In [68]:
service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   object
 5   Ticket Resp Time   5998 non-null   object
 6   Issue Res Time     5998 non-null   object
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   object
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: object(12)
memory usage: 562.4+ KB

## Handle Missing data in Time related columns before trying to cast

In [69]:
for column in service_data_df.columns:
    if "time" in column.lower():
        service_data_df[column] = service_data_df[column].str.strip()
        service_data_df[column] = pd.to_datetime(service_data_df[column], format='mixed')

In [70]:
service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5359 non-null   datetime64[ns]
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](4), object(8)
memory usage: 562.4+ KB

In [71]:
service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5359 non-null   datetime64[ns]
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](4), object(8)
memory usage: 562.4+ KB

## Working on clean tickets

In [72]:
employee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Empoyee_ID     32 non-null     int64
 1   Manager ID     28 non-null     float64
 2   Employee_name  32 non-null     object
 3   Designation    32 non-null     object
 4   Manager        28 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.4+ KB

In [73]:
location_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State Key  37 non-null     object
 1   Zone       37 non-null     object
 2   Zone Desc  37 non-null     object
 3   State      37 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

In [74]:
fault_type_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fault Key  9 non-null      int64
 1   Fault      9 non-null      object
dtypes: int64(1), object(1)
memory usage: 276.0+ bytes

In [75]:
service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5472 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5359 non-null   datetime64[ns]
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](4), object(8)
memory usage: 562.4+ KB

In [76]:
# service_type_df.info()

List of df with missing data columns: employee_df

List of data with complete data: location_df, fault_type.df, service_data_df

In [77]:
service_data_df["Fault Type"].unique()

array([nan, 'Customers End', 'Line damage', 'Routine Service',
       'hardware failure', 'Power Loss', 'Support network failures',
       'Traffic Spikes', 'Router Failure', 'Intrusions'], dtype=object)

Fill up the Fault type column with Unknown. leave the employee and time df as they are

In [78]:
service_data_df["Fault Type"] = service_data_df["Fault Type"].fillna("Uknown")

In [79]:
# service_data_df.head()

Fill up the Missing values in time using todays time

In [80]:
todays_date_time = pd.Timestamp.now().strftime("%Y/%m/%d %H:%M:%S")

In [81]:
todays_date_time

'2025/11/16 08:08:06'

In [82]:
service_data_df["Ticket Close Time"] = service_data_df["Ticket Close Time"].fillna(todays_date_time)

In [83]:
service_data_df["Business Status"].value_counts()

Business Status
Closed        5359
Open           554
Terminated      70
Resolved        15
Name: count, dtype: int64

In [84]:
# service_data_df[service_data_df["Business Status"] == "Open"]

In [85]:
service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5998 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   datetime64[ns]
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](4), object(8)
memory usage: 562.4+ KB

In [86]:
employee_df.columns.to_list()

['Empoyee_ID', 'Manager ID', 'Employee_name', 'Designation', 'Manager']

In [87]:
location_df.columns.to_list()

['State Key', 'Zone', 'Zone Desc', 'State']

In [88]:
fault_type_df.columns.to_list()

['Fault Key', 'Fault']

In [89]:
# service_type_df.columns.to_list()

In [90]:
service_data_df.columns.to_list()

['Report ID',
 'Report Channel',
 'Customer Name',
 'State Key',
 'Ticket Open Time',
 'Ticket Resp Time',
 'Issue Res Time',
 'Fault Type',
 'Operator',
 'Ticket Close Time',
 'Ticket Status',
 'Business Status']

In [91]:
service_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5998 entries, 0 to 5997
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Report ID          5998 non-null   object
 1   Report Channel     5998 non-null   object
 2   Customer Name      5998 non-null   object
 3   State Key          5998 non-null   object
 4   Ticket Open Time   5998 non-null   datetime64[ns]
 5   Ticket Resp Time   5998 non-null   datetime64[ns]
 6   Issue Res Time     5998 non-null   datetime64[ns]
 7   Fault Type         5998 non-null   object
 8   Operator           5998 non-null   object
 9   Ticket Close Time  5998 non-null   datetime64[ns]
 10  Ticket Status      5998 non-null   object
 11  Business Status    5998 non-null   object
dtypes: datetime64[ns](4), object(8)
memory usage: 562.4+ KB

In [92]:
df_channel_type.columns.to_list()

['Channel Key', 'Channel']

In [93]:
df_channel_type

  Channel Key       Channel
0        CH01  Social Media
1        CH02       Chatbot
2        CH03       WebForm
3        CH04    Phone Call
4        CH05          USSD
5        CH06         Email

In [94]:
service_data_df.head(2)

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed

In [95]:
employee_df.head()

   Empoyee_ID  Manager ID Employee_name Designation Manager
0         101         NaN        Victor     Manager     NaN
1         102         NaN         Kerry     Manager     NaN
2         103         NaN          Wale     Manager     NaN
3         104         NaN          Seun     Manager     NaN
4         201       101.0          Bola    Operator  Victor

No need merging Fault type as the column is already present, same as employee_df, same as fault_type

Merge with location_df using the state_key, merge channel_type_df using report channel as key

In [96]:
merged_df = pd.merge(pd.merge(service_data_df, location_df, how="left", on="State Key"), df_channel_type, how = "left", left_on= "Report Channel", right_on= "Channel Key")

In [97]:
merged_df = pd.merge(merged_df, employee_df, how="left", left_on= "Operator", right_on="Employee_name")
merged_df.head()

,Report ID,Report Channel,Customer Name,State Key,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,...,Zone,Zone Desc,State,Channel Key,Channel,Empoyee_ID,Manager ID,Employee_name,Designation,Manager
0,AXA-20201231-1101-WLESS,CH01,Access,NGS001,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,...,SS,South-South,ANAMBRA,CH01,Social Media,202,101.0,Tunde,Operator,Victor
1,AXA-20201230-1102-WLESS,CH01,Access,NGS001,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,...,SS,South-South,ANAMBRA,CH01,Social Media,203,101.0,Sekina,Operator,Victor
2,AXA-20201229-1103-WLESS,CH01,Access,NGS001,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,...,SS,South-South,ANAMBRA,CH01,Social Media,205,101.0,Sherifat,Operator,Victor
3,AXA-20201229-1104-HSE,CH01,Arik,NGS002,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,...,SW,South-West,OYO,CH01,Social Media,212,102.0,Kingsley,Operator,Kerry
4,AXA-20201231-1105-HSE,CH01,Arik,NGS003,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,...,SW,South-West,LAGOS,CH01,Social Media,216,103.0,Kola,Operator,Wale

In [98]:
merged_df = merged_df.drop(["Report Channel", "Zone", "Manager ID", "Empoyee_ID", "Employee_name", "Report Channel", "Channel Key", "Report ID", "State Key"], axis= 1)

In [99]:
merged_df.head()

,Customer Name,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status,Zone Desc,State,Channel,Designation,Manager
0,Access,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open,South-South,ANAMBRA,Social Media,Operator,Victor
1,Access,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor
2,Access,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor
3,Arik,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed,South-West,OYO,Social Media,Operator,Kerry
4,Arik,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed,South-West,LAGOS,Social Media,Operator,Wale

## Generating SLA metrics

ticket_resp_time - ticket_open_time = Resp_SLA

resolution_sla = issue_res_time - ticket_resp_time

Avg response time - KPI

Resolution Matrix for categorization (based on issue_res_time - ticket_resp_time):
i.e resolution_sla

Less Than 30 Mins - Excellent

30Mins - 1 hour - Good

1 hour - 3 hours - Fair

Greater than 3 hours - Critical

Extract week nae from Ticket Open Time

In [100]:
merged_df.columns

Index(['Customer Name', 'Ticket Open Time', 'Ticket Resp Time',
       'Issue Res Time', 'Fault Type', 'Operator', 'Ticket Close Time',
       'Ticket Status', 'Business Status', 'Zone Desc', 'State', 'Channel',
       'Designation', 'Manager'],
      dtype='object')

In [101]:
merged_df["Resolution SLA (Mins)"] = round((merged_df["Issue Res Time"] - merged_df["Ticket Resp Time"]).dt.total_seconds() / 60, 2)

In [102]:
merged_df.head()

,Customer Name,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status,Zone Desc,State,Channel,Designation,Manager,Resolution SLA (Mins)
0,Access,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open,South-South,ANAMBRA,Social Media,Operator,Victor,214.37
1,Access,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,33.20
2,Access,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,92.32
3,Arik,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed,South-West,OYO,Social Media,Operator,Kerry,65.55
4,Arik,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed,South-West,LAGOS,Social Media,Operator,Wale,33.32

In [103]:
merged_df["Resp SLA (Seconds)"] = (merged_df["Ticket Resp Time"] - merged_df["Ticket Open Time"]).dt.total_seconds()

In [104]:
merged_df.head()

,Customer Name,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status,Zone Desc,State,Channel,Designation,Manager,Resolution SLA (Mins),Resp SLA (Seconds)
0,Access,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open,South-South,ANAMBRA,Social Media,Operator,Victor,214.37,196.0
1,Access,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,33.20,552.0
2,Access,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,92.32,588.0
3,Arik,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed,South-West,OYO,Social Media,Operator,Kerry,65.55,547.0
4,Arik,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed,South-West,LAGOS,Social Media,Operator,Wale,33.32,276.0

In [105]:
bins = [0, 30, 60, 180, float("inf")]
labels = ["Excellent", "Good", "Fair", "Critical"]

In [106]:
merged_df["Resolution Catgory"] = pd.cut(merged_df["Resolution SLA (Mins)"], bins = bins, labels= labels, right=False)

In [107]:
merged_df.head()

,Customer Name,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status,Zone Desc,State,Channel,Designation,Manager,Resolution SLA (Mins),Resp SLA (Seconds),Resolution Catgory
0,Access,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open,South-South,ANAMBRA,Social Media,Operator,Victor,214.37,196.0,Critical
1,Access,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,33.20,552.0,Good
2,Access,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,92.32,588.0,Fair
3,Arik,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed,South-West,OYO,Social Media,Operator,Kerry,65.55,547.0,Fair
4,Arik,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed,South-West,LAGOS,Social Media,Operator,Wale,33.32,276.0,Good

In [108]:
# All issues must be responded within 10 seconds of ticket initiation
merged_df["Response SLA pass"] = np.where(merged_df["Resp SLA (Seconds)"] <= 15, "pass", "fail")

# All issues must be resolved within 3 hours of respons
merged_df["Resolution SLA pass"] = np.where(merged_df["Resolution SLA (Mins)"] <= 180, "pass", "fail")

In [109]:
merged_df.head()

,Customer Name,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status,Zone Desc,State,Channel,Designation,Manager,Resolution SLA (Mins),Resp SLA (Seconds),Resolution Catgory,Response SLA pass,Resolution SLA pass
0,Access,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open,South-South,ANAMBRA,Social Media,Operator,Victor,214.37,196.0,Critical,fail,fail
1,Access,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,33.20,552.0,Good,fail,pass
2,Access,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,92.32,588.0,Fair,fail,pass
3,Arik,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed,South-West,OYO,Social Media,Operator,Kerry,65.55,547.0,Fair,fail,pass
4,Arik,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed,South-West,LAGOS,Social Media,Operator,Wale,33.32,276.0,Good,fail,pass

In [112]:
merged_df['week_label'] = ("week " + merged_df['Ticket Open Time'].dt.isocalendar().week.astype(str))

In [113]:
merged_df.head()

,Customer Name,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status,Zone Desc,State,Channel,Designation,Manager,Resolution SLA (Mins),Resp SLA (Seconds),Resolution Catgory,Response SLA pass,Resolution SLA pass,week_label
0,Access,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open,South-South,ANAMBRA,Social Media,Operator,Victor,214.37,196.0,Critical,fail,fail,week 53
1,Access,2020-12-30 19:04:06,2020-12-30 19:13:18,2020-12-30 19:46:30,Customers End,Sekina,2021-01-01 13:27:17,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,33.20,552.0,Good,fail,pass,week 53
2,Access,2020-12-29 18:28:04,2020-12-29 18:37:52,2020-12-29 20:10:11,Customers End,Sherifat,2020-12-30 13:20:43,Completed,Closed,South-South,ANAMBRA,Social Media,Operator,Victor,92.32,588.0,Fair,fail,pass,week 53
3,Arik,2020-12-29 14:49:16,2020-12-29 14:58:23,2020-12-29 16:03:56,Line damage,Kingsley,2020-12-29 21:34:31,Completed,Closed,South-West,OYO,Social Media,Operator,Kerry,65.55,547.0,Fair,fail,pass,week 53
4,Arik,2020-12-31 21:43:03,2020-12-31 21:47:39,2020-12-31 22:20:58,Customers End,Kola,2021-01-02 06:54:01,Completed,Closed,South-West,LAGOS,Social Media,Operator,Wale,33.32,276.0,Good,fail,pass,week 53

## KPIs - Avg Response SLA per week, Resolution SLA per wk, Total No of Tickets per week, Total Open, Total Closed

Manager_operator_report

In [114]:
weekly_kpis = merged_df.groupby("week_label").agg(
    total_tickets=("Customer Name", "count"),
    avg_resolution_sla_mins=("Resolution SLA (Mins)", "mean"),
    avg_response_sla_seconds=("Resp SLA (Seconds)", "mean"),
    resolution_pass_rate=("Resolution SLA pass", lambda x: (x == "pass").mean()),
    response_pass_rate=("Response SLA pass", lambda x: (x == "pass").mean())
).reset_index()

# Convert rates to percentages
weekly_kpis["resolution_pass_rate"] = (weekly_kpis["resolution_pass_rate"] * 100).round(2)
weekly_kpis["response_pass_rate"] = (weekly_kpis["response_pass_rate"] * 100).round(2)

In [115]:
weekly_kpis

,week_label,total_tickets,avg_resolution_sla_mins,avg_response_sla_seconds,resolution_pass_rate,response_pass_rate
0,week 49,1085,141.640590,269.422120,59.08,20.74
1,week 50,1257,138.142705,267.699284,59.51,21.80
2,week 51,1219,138.390345,266.858080,60.62,21.58
3,week 52,1304,143.278735,259.174847,59.36,20.63
4,week 53,1133,164.260918,308.446602,52.25,6.00

In [116]:
weekly_kpis.to_csv("weekly_kpis.csv", index=False)

In [117]:
manager_operator_report = (
    merged_df.groupby(["Manager", "Operator"])
        .agg(
            total_tickets=("Customer Name", "count"),
            avg_resolution_sla_mins=("Resolution SLA (Mins)", "mean"),
            avg_response_sla_seconds=("Resp SLA (Seconds)", "mean"),
            resolution_pass_rate=("Resolution SLA pass", lambda x: (x == "pass").mean()),
            response_pass_rate=("Response SLA pass", lambda x: (x == "pass").mean())
        ) .reset_index()
)

In [119]:

# Convert pass rates to percentages
manager_operator_report["resolution_pass_rate"] = (
    manager_operator_report["resolution_pass_rate"] * 100
).round(2)

manager_operator_report["response_pass_rate"] = (
    manager_operator_report["response_pass_rate"] * 100
).round(2)

# Ranking: best-performing operators under each manager
manager_operator_report["rank_by_resolution"] = (
    manager_operator_report.groupby("Manager")["resolution_pass_rate"]
    .rank(ascending=False, method="dense")
)

manager_operator_report["rank_by_response"] = (
    manager_operator_report.groupby("Manager")["response_pass_rate"]
    .rank(ascending=False, method="dense")
)

In [122]:
escalations = merged_df[merged_df["Resolution Catgory"].str.lower() == "critical"].copy()

In [123]:
escalations

,Customer Name,Ticket Open Time,Ticket Resp Time,Issue Res Time,Fault Type,Operator,Ticket Close Time,Ticket Status,Business Status,Zone Desc,State,Channel,Designation,Manager,Resolution SLA (Mins),Resp SLA (Seconds),Resolution Catgory,Response SLA pass,Resolution SLA pass,week_label
0,Access,2020-12-31 17:07:04,2020-12-31 17:10:20,2020-12-31 20:44:42,Uknown,Tunde,2025-11-16 08:08:06,Active,Open,South-South,ANAMBRA,Social Media,Operator,Victor,214.37,196.0,Critical,fail,fail,week 53
6,Arik,2020-12-31 09:37:03,2020-12-31 09:47:46,2020-12-31 13:33:02,Customers End,Tunde,2020-12-31 22:04:39,Completed,Closed,South-West,LAGOS,Social Media,Operator,Victor,225.27,643.0,Critical,fail,fail,week 53
7,Arik,2020-12-31 08:31:04,2020-12-31 08:40:34,2020-12-31 14:14:19,Customers End,Habeeb,2021-01-01 07:25:36,Completed,Closed,South-West,LAGOS,Social Media,Operator,Victor,333.75,570.0,Critical,fail,fail,week 53
8,Arik,2020-12-31 07:52:07,2020-12-31 07:59:52,2020-12-31 12:15:13,Customers End,John,2020-12-31 21:59:53,Completed,Closed,South-West,LAGOS,Social Media,Operator,Victor,255.35,465.0,Critical,fail,fail,week 53
10,Arik,2020-12-30 10:43:06,2020-12-30 10:43:15,2020-12-30 14:46:01,Customers End,Habeeb,2020-12-30 11:18:14,Completed,Closed,South-West,LAGOS,Social Media,Operator,Victor,242.77,9.0,Critical,pass,fail,week 53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5015,Transnational,2020-12-22 13:00:11,2020-12-22 13:01:50,2020-12-22 17:01:56,Customers End,Sekina,2020-12-22 21:43:19,Completed,Closed,North-Central,FCT ABUJA,Chatbot,Operator,Victor,240.10,99.0,Critical,fail,fail,week 52
5017,CCD,2020-12-06 09:27:50,2020-12-06 09:30:16,2020-12-06 13:54:30,Customers End,Bola,2020-12-06 19:16:12,Completed,Closed,South-South,DELTA,Email,Operator,Victor,264.23,146.0,Critical,fail,fail,week 49
5020,MIEC,2020-12-03 12:00:56,2020-12-03 12:10:07,2020-12-03 15:40:09,Line damage,Jennifer,2025-11-16 08:08:06,Active,Open,North-Central,NASARAWA,Phone Call,Operator,Kerry,210.03,551.0,Critical,fail,fail,week 49
5021,ExcluDive,2020-12-22 12:59:10,2020-12-22 13:00:17,2020-12-22 17:31:42,Routine Service,Sekina,2020-12-22 23:11:32,Completed,Closed,South-South,BAYELSA,Chatbot,Operator,Victor,271.42,67.0,Critical,fail,fail,week 52
5022,SupaTram,2020-12-25 11:59:20,2020-12-25 12:01:33,2020-12-25 15:06:16,Customers End,Habeeb,2020-12-25 18:24:30,Completed,Closed,South-East,ENUGU,WebForm,Operator,Victor,184.72,133.0,Critical,fail,fail,week 52